{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
    {{ block.super }} | Edit Item
{% endblock head_title%}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">

    <h2>Item detail</h2>
    <p>
    <form method='POST' action="" >
        {% csrf_token %}
        {{ form|crispy }} <br/>
        <input type='submit' class="btn btn-secondary" value = 'Submit'>
    </form>
    </p>
    <hr/>


    {% if form.errors %}
     {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% include 'jquery.html' %}

<script>
$(function() {
    $("#id_ingredient_add").on('keyup', function(){
        var value = $(this).val();
        console.log(value);
        console.log("value sent");


      $.ajax({                       // initialize an AJAX request
        url: "{% url 'recipe:ingredient_dropdown' %}",
        data: {
          'term': value
        },
        success: function (data) {
          console.log(data);
          $("#id_ingredient_add").html(data);
        }
      });

     /*   $.ajax({
            url: "{% url 'recipe:ingredient_lookup' %}",
            data: {
              'term': value
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                new_set = data.list;
                //list = data;
                //$("#id_ingredient_add").autocomplete("enable");
                //$("#id_ingredient_add").autocomplete({
                //    disabled: false,
                //    source: new_set,
                //    minLength: 3,

                //    }
                 var mySelect = $('#id_ingredient_add');
                    $.each(new_set, function(text) {
                        mySelect.append(
                            $('<option></option>').html(text)
                        );
                    });
                }

        });*/
    });
});
</script>

<!--<script>

  $(function() {
    $("#id_ingredient_add").autocomplete({
      console.log(value);
      console.log("value sent");
      source: "/recipe/ingredient_lookup/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>-->
{% endblock content%}

