{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
    {{ block.super }} | Edit Item
{% endblock head_title%}
{% block content %}
<div>

    <h2>Recipe detail</h2>
    <form method='POST' action="" >
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field|as_crispy_field }}
        {% endfor %}

        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
            {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
            {{ form.description|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                <input type='text' id="ingr" class = "ui-widget form-control" placeholder="Find ingredients to add"></div>
            <div class="form-group col-md-2 mb-0">
                <button type="button" id="add_button"  >Add to Main Ingr</button>
                <button type="button" id="add_ingr"  >Add new to DB</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.main_ingredients|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0 stars">
                {{ form.stars|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.meal_category|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.notes|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ form.cuisine|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.in_book|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form.page|as_crispy_field }}
            </div>
        </div>
        <input type='submit' class="btn btn-secondary" value = 'Submit'>
    </form>

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% include 'jquery.html' %}

<script>
$(document).ready(function() {
    $(function() {
        $("#ingr").autocomplete({
          source: '/recipe/ingredient_lookup/',
          /*select: function (event, ui) { //item selected
            AutoCompleteSelectHandler(event, ui)
          },
          minLength: 2,*/
        });
      });

      function AutoCompleteSelectHandler(event, ui)
      {
        var selectedObj = ui.item;
    }

$( "#add_button" ).click(function() {
  //alert( "Handler for .click() called." );
  var add_val = titleCase(document.getElementById("ingr").value);
  var main_val = document.getElementById("id_main_ingredients").value;
  //console.log("The value is " + add_val);
  //console.log("The existing value is " + main_val);
  if (main_val == ""){
            main_val = add_val;
    }else{
        main_val = main_val + ", " + add_val;
        //console.log("New main value - " + main_val);
    }
  document.getElementById("id_main_ingredients").value = main_val;
  $("#ingr").val("");
  $("#ingr").focus("");
});

function titleCase(str) {
  return str.toLowerCase().split(' ').map(function(word) {
    return (word.charAt(0).toUpperCase() + word.slice(1));
  }).join(' ');
}


$("#add_ingr").click(function (e) {
        e.preventDefault();
        var add_val = titleCase(document.getElementById("ingr").value);
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'recipe:ingredient_add_ajax' %}",
            data: {"item": add_val},
            success: function (response) {

                if(!response["valid"]){
                    alert("You cannot add that item");
                    $("#ingr").focus();
                }
            },
            error: function (response) {
                console.log(response);
            }
        })
    })

});

</script>
<script type="text/javascript">
    function limit_value(max_value) {
        var field = document.getElementById("star_field");
        //var max_value = 5;
    if (parseInt(field.value) > max_value) {
        alert("Can't exceed 5");
    }
}

</script>
{% endblock content%}

